
@font-face {
    font-family: ian;
    src: url(../font/2005_iannnnnAMD.ttf);
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
    height: 100vh;
    overflow-x: hidden;  
    overflow-y: hidden;
}


#standBy {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 15em;
    color: #fff;
    font-family: ian;
    animation-name: wow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-image: url('../../static/img/bg-code-01.png');
    background-size: cover;
    background-position: center;
}

#standBy span {
    animation-name: txt-wow ;
    animation-duration: 6s;
    
    animation-iteration-count: infinite;
}


#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#player {
    width: 100vw;
    max-height: 100%;
}

#showId {
    font-size: 15em;
    font-family: ian;
    color: white;
    background-color: black;
    background-image: url('../../static/img/bg-code-01.png');
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    display: none;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#showId span {
    animation-name: wave;
    animation-duration: 6s;
    animation-iteration-count: infinite;
     /* text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c, 1px 1px 0 #9e132c, 1px 0px 0px #f5b10b, 0px 1px 0px #f5b10b, 2px 1px 0px #f5b10b, 1px 2px 0px #f5b10b, 3px 2px 0px #f5b10b, 2px 3px 0px #f5b10b, 4px 3px 0px #f5b10b, 3px 4px 0px #f5b10b, 5px 4px 0px #f5b10b, 3px 5px 0px #9e132c, 6px 5px 0px #9e132c, -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0px #9e132c, 2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0px #9e132c, 6px 3px 0 #9e132c, 7px 4px 0 #9e132c, 10px 10px 4px rgba(0, 0, 0, 0);  */

    /* color: rgba(255, 255, 255, 1); */
    
}
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: orange;}
	80%{color: green;}
	100%{color: blue;}	
}
@keyframes wave {
    0% { transform: translate3d(0,25px, 0); }
    25% { transform: translate3d(0,-25px, 0); }
    50%   { transform: translate3d(0,25px,0); }
    75% { transform: translate3d(0,-85px, 0); } 
    100%   { transform: translate3d(0,25px,0); }

    0%
    {color: red;}
    10%
    {color: yellow;}
    20%
    {color: orange;}
    30%
    {color: green;}
    40%
    {color: blue;}	
    50%
    {color: blue;}	
    60%
    {color: green;}
    70%
    {color: orange;}
    80%
    {color: yellow;}
    90%
    {color: red;}
    100%
    {color: red;}
     
}

@keyframes txt-wow {
    
    0% { transform: translate3d(0,25px, 0); }
    25% { transform: translate3d(40px,-25px, 40px); }
    50%   { transform: translate3d(40px,25px,0); }
    75% { transform: translate3d(40px,-85px, 0); } 
    100%   { transform: translate3d(0,25px,0); }
}

@keyframes wow {


     0% {
        text-shadow: 5px 10px 0 rgb(217,31,38) , 7px 15px 0 rgb(226,91,14) , 9px 20px 0 rgb(245,221,8) , 11px 25px 0 rgb(5,148,68) ,  13px 30px 0 rgb(2,135,206) , 15px 35px 0 rgb(4,77,145) , 17px 40px 0 rgb(42,21,113) ;
    
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    25% {
        text-shadow: 5px -10px 0 rgb(217,31,38) , 7px -15px 0 rgb(226,91,14) , 9px -20px 0 rgb(245,221,8) , 11px -25px 0 rgb(5,148,68) , 13px -30px 0 rgb(2,135,206) ,  15px -35px 0 rgb(4,77,145) , 17px -40px 0 rgb(42,21,113) ;
  
        -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    50% {
        text-shadow: 5px 10px 0 rgb(217,31,38) , 7px 15px 0 rgb(226,91,14) , 9px 20px 0 rgb(245,221,8) , 11px 25px 0 rgb(5,148,68) , 13px 30px 0 rgb(2,135,206) , 15px 35px 0 rgb(4,77,145) , 17px 40px 0 rgb(42,21,113) ;
    
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    75% {
        text-shadow: 5px -10px 0 rgb(217,31,38) , 7px -15px 0 rgb(226,91,14) , 9px -20px 0 rgb(245,221,8) , 11px -25px 0 rgb(5,148,68) , 13px -30px 0 rgb(2,135,206) , 15px -35px 0 rgb(4,77,145) , 17px -40px 0 rgb(42,21,113) ;
  
        -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    100% {
        text-shadow: 5px 10px 0 rgb(217,31,38) , 7px 15px 0 rgb(226,91,14) , 9px 20px 0 rgb(245,221,8) , 11px 25px 0 rgb(5,148,68) , 13px 30px 0 rgb(2,135,206) , 15px 35px 0 rgb(4,77,145) , 17px 40px 0 rgb(42,21,113) ;
    
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }  
}